#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    box-sizing: border-box;
    border: 20px solid #000000;
    border-radius: 45px;
    width: 550px;
    height: 850px;
    box-shadow: 0px 0px 3px 7px #000000 inset;
    overflow: hidden;
}

.pad-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.pad-header-left,
.pad-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    width: 150px;
    height: 100%;
}

.pad-header-left {

    & > .pad-clock-date {
        font-weight: 600;
        color: #222222;
        cursor: default;
    }
}

.pad-header-right {
    & > svg {
        width: 40px;
        height: 40px;
        margin-left: 3px;
        fill: #222222;
        stroke: #222222;
    }
}

.main-layout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    color: #000000;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}





